<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quest.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @quest.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @quest.user %>
</p>


<%= link_to 'Back', user_quests_path(@quest.user) %>
